html{
  height: 100%;
}

.App {
  text-align: center;
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 15fr;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: white;
}

.title{
  font-size: 30px;
  padding-left: 10px;
}

.scoreBox{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
}

.currentScore,
.hiScore{
  text-align: right;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardBoard{
  display: grid;
  background-color: black;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 190px 190px;
  gap: 5px;
  padding: 10px;
  align-items: center;


}

.card{
  border-radius: 5px;
  background-color: white;

}

.digimonPic{
  width: 160px;
}


